.button{
  width: 138px;
  height: 28px;
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 9px;
  line-height: 19px;
  color: #000000;
  font-weight: normal;
  font-family: 'Source Sans Pro';
  text-align: center;
  padding: 0;
  opacity: 1;
  transition: opacity, 0.3s, linear;
}

.button:hover{
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (min-width: 650px){
  .button{
    font-size: 14px;
    line-height: 30px;
    height: 44px;
  }
}
